@import 'tailwindcss';

:root {
  --background: #f9f6f5;
  --foreground: #24221e;
  --frame: #dedad7;
  --accent: #0645b0;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

hr,
.border-frame {
  border-color: var(--frame);
}

/* Line clamp utilities */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
